@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700&subset=cyrillic-ext,latin-ext);

* {
	font-family: 'PT Sans', sans-serif;
}

.links {
    display:block;
    margin-bottom: 20px;
}
.links:last-child {
    margin-bottom: 0;
}